<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{jpaBoard/common/layout}">

<head>
    <title>게시물 상세</title>
</head>
<main layout:fragment="main" class="mt-[20px]">
    <h1 class="container mx-auto font-bold text-[1.3rem] px-[10px]">[[${article.title}]]</h1>
    <div class="container mx-auto px-[10px] mt-[10px]">
        <div>
            <span class="badge">번호 : [[${article.id}]]</span>
        </div>
        <div class="mt-[10px]">
            <span class="badge badge-outline">작성일 : [[${#strings.substring(article.reg_date, 2, 10)}]]</span>
            <span class="badge badge-outline">작성자 : [[${article.user.name}]]</span>
        </div>
        <div class="mt-[10px] whitespace-pre-line">
            [[${article.body}]]
        </div>
    </div>

    <div class="container mt-[10px] mx-auto px-[10px]">
        <a class="btn btn-sm btn-success" href="/jpaBoard/article/list">목록</a>
<!--        <button class="btn btn-sm btn-success" onclick="history.back();">뒤로가기</button>-->
        <a class="btn btn-sm" th:if="${article.user.id == session.loginedUserId}" th:href="@{modify(id=${article.id})}">글
            수정</a>
        <a class="btn btn-sm" th:if="${article.user.id == session.loginedUserId}"
           onclick="if ( confirm('정말로 삭제하겠습니까?') == false ) return false;" th:href="@{doDelete(id=${article.id})}">글
            삭제</a>
    </div>
</main>
</html>
