<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{jpaBoard/common/layout}">
<head>
    <title>게시물 리스트</title>
</head>
<main layout:fragment="main" class="mt-[20px]">
    <h1 class="container mx-auto mb-3 font-bold text-[1rem]">게시물 목록</h1>
    <ul class="container mx-auto">
        <li th:each="article: ${articles}">
            <a th:href="@{detail(id=${article.id})}">
                아이디 : [[${article.id}]] / 제목 : [[${article.title}]]
            </a>
        </li>
    </ul>
</main>
</html>
