<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{jpaBoard/common/layout}">
<head>
    <title>게시물 리스트</title>
</head>
<main layout:fragment="main">

    <h1 class="container mx-auto mb-3 font-bold text-[1rem] px-[10px]">[[${article.id}]]번 게시물 수정</h1>
    <form class="container mx-auto px-[10px]" action="doModify" method="post">
        <input type="hidden" name="id" th:value="${article.id}">
        <div class="form-control">
            <span class="label-text">제목</span>
            <input type="text" name="title" class="input input-bordered w-full max-w-xl" th:value="${article.title}">
        </div>
        <div class="form-control">
            <span class="label-text">내용</span>
            <textarea name="body" class="textarea textarea-bordered w-full max-w-xl" th:text="${article.body}"></textarea>
        </div>
        <div>
            <input type="submit" value="수정" class="btn btn-sm btn-success mt-[20px]">
            <input type="reset" class="btn btn-sm btn-success" value="초기화">
            <input type="button" value="취소" class="btn btn-sm btn-success" onclick="history.back();">
        </div>
    </form>
</main>