<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{jpaBoard/common/layout}">
<head>
    <title>게시물 리스트</title>
</head>
<main layout:fragment="main">
    <div class="container mx-auto px-[10px]">
        <a th:href="@{detail(id=${article.id})}">본문으로 돌아가기</a>
    </div>
    <h1 class="container mx-auto mb-3 font-bold text-[1rem] px-[10px]">게시물 수정</h1>
    <form class="container mx-auto px-[10px]" action="doModify" method="post">
        <input type="hidden" name="id" th:value="${article.id}">
        <div>
            <div>번호</div>
            <div>
                [[${article.id}]]
            </div>
        </div>
        <hr>
        <div>
            <div>작성 날짜</div>
            <div>
                [[${article.reg_date}]]
            </div>
        </div>
        <hr>
        <div class="form-control w-full max-w-xs">
            <span class="label-text">제목</span>
            <input type="text" name="title" class="input input-bordered" th:value="${article.title}">
        </div>
        <div class="form-control w-full max-w-xs">
            <span class="label-text">내용</span>
            <textarea name="body" class="textarea textarea-bordered" th:text="${article.body}"></textarea>
        </div>
        <div>
            <div>
                <input type="submit" value="수정" class="btn btn-success mt-[20px]   ">
            </div>
        </div>
    </form>
</main>