<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<head>
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">JPA Community</title>

<style>
        /* 다크 모드 */

        /*
        body {
            background-color:#343434;
            color:white;
        }
        a {
          color: white;
        }
        */

</style>

</head>

<body>

<div>로고</div>

<div>
    <a href="write">글 쓰기</a> / <a href="list">글 리스트</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="user/login">로그인</a>
</div>
<main layout:fragment="main">
</main>
</body>
</html>