<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<head>
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">JPA Community</title>

<script src="https://cdn.tailwindcss.com"></script>

<style>
        /* 다크 모드 */

        /*
        body {
            background-color:#343434;
            color:white;
        }
        a {
          color: white;
        }
        */

</style>

</head>

<body>

<div class="text-lg font-bold p-6">로고</div>

<div>
    <ul class="flex">
        <li><a href="/jpaBoard/article/write" class="block p-4 hover:text-red-500">글 쓰기</a> </li>
        <li><a href="/jpaBoard/article/list" class="block p-4 hover:text-red-500">글 리스트</a></li>
        <li><a href="/jpaBoard/user/login" class="block p-4 hover:text-red-500">로그인</a></li>
        <li><a href="/jpaBoard/user/join" class="block p-4 hover:text-red-500">회원가입</a></li>
    </ul>

</div>
<main layout:fragment="main">
</main>
</body>
</html>