<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{jpaBoard/common/layout}">
<head>
    <title>로그인</title>
</head>
<main layout:fragment="main" class="mt-[20px]">
    <h1 class="container mx-auto mb-3 font-bold text-[1rem] px-[10px]">로그인</h1>
    <form class="container mx-auto" action="doLogin" method="post">
        <div class="form-control w-full max-w-xs px-[10px]">
            <span class="label-text">이메일</span>
            <input type="email" name="email" class="input input-bordered" placeholder="이메일을 입력해주세요." maxlength="30">
        </div>

        <div class="form-control w-full max-w-xs mt-[20px] px-[10px]">
            <span class="label-text">비밀번호</span>
            <input type="password" name="password" class="input input-bordered" placeholder="비밀번호를 입력해주세요." maxlength="30">
        </div>

        <div>
            <div class=" px-[10px]">
                <input type="submit" value="로그인" class="btn btn-success mt-[20px]   ">
            </div>
        </div>
    </form>
</main>